@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Colors */
body {
  background-color: #fafafa;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

body.fixed {
  overflow: hidden;
}

a:focus,
button:focus {
  outline: 1px solid #124541;
  -webkit-box-shadow: 0 0 0 4px rgba(93, 161, 155, 0.3);
          box-shadow: 0 0 0 4px rgba(93, 161, 155, 0.3);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

header .top {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

header .top #menuButton {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: none;
  background-color: #124541;
  color: #fafafa;
}

header .top #menuButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

header .top #menuButton i.fi.fi-rr-cross {
  font-size: 14px;
}

header .top a {
  text-decoration: none;
  color: #121609;
  font-weight: 600;
  border-radius: 4px;
  padding: 5px;
}

header .top a.logo {
  font-weight: 900;
}

header .top.border {
  border-bottom: 1px solid #eee;
}

header .bottom {
  display: none;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .bottom ul {
  width: 100%;
}

header .bottom ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .bottom ul li a {
  width: 100%;
  text-decoration: none;
  color: #121609;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

header .bottom ul li a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

header .bottom.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container {
  padding: 15px;
}

main .container.main h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

main .container.main p {
  margin-bottom: 10px;
  font-size: 14px;
}

main .container.main img {
  width: 100%;
  max-height: 200px;
  height: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/*# sourceMappingURL=styles.css.map */