@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Colors */

$black: #121609;
$green: #124541;
$salmon: #ef7863;
$yellow: #ecc655;
$lemon: #f6eda3;
$white: #fafafa;
$pureWhite: #ffffff;
body {
    background-color: $white;
    font-family: "Quicksand", sans-serif;
    height: 100%;
    &.fixed {
        overflow: hidden;
    }
}

a,
button {
    &:focus {
        outline: 1px solid $green;
        box-shadow: 0 0 0 4px rgba(93, 161, 155, .3);
    }
}

header {
    position: sticky;
    top: 0;
    background-color: $pureWhite;
    .top {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        #menuButton {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            border: none;
            background-color: $green;
            color: $white;
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                &.fi.fi-rr-cross {
                    font-size: 14px;
                }
            }
        }
        a {
            text-decoration: none;
            color: $black;
            font-weight: 600;
            border-radius: 4px;
            padding: 5px;
            &.logo {
                font-weight: 900;
            }
        }
        &.border {
            border-bottom: 1px solid #eee;
        }
    }
    .bottom {
        display: none;
        width: 100%;
        height: calc(100vh - 60px);
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        ul {
            width: 100%;
            li {
                list-style: none;
                display: flex;
                align-items: center;
                width: 100%;
                a {
                    width: 100%;
                    text-decoration: none;
                    color: $black;
                    font-weight: 700;
                    font-size: 18px;
                    padding: 15px 10px;
                    display: flex;
                    border-radius: 4px;
                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                    }
                }
            }
        }
        &.open {
            display: flex;
        }
    }
}

main {
    .container {
        padding: 15px;
        &.main {
            h1 {
                font-size: 24px;
                margin-bottom: 5px;
            }
            p {
                margin-bottom: 10px;
                font-size: 14px;
            }
            img {
                width: 100%;
                max-height: 200px;
                height: 100%;
                border-radius: 6px;
                object-fit: cover;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            }
        }
    }
}